@model Modelo.Alumno
@{
    ViewBag.Title = "Index";
}

<section class="resume-section" id="education">

<div class="container center-bock">

        <div class="row">
            <h2 class="text-center"> Alumnos <span class="text-primary"> Registrados </span> </h2>
        </div>


    @foreach (Modelo.Alumno alumno in Model.Alumnos)
    {

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="row">
                    <div class="col-md-2">
                        <td class="text-center">
                            @if (alumno.Imagen != null)
                            {
                                <img id="Img" src="data:image/*;base64,@alumno.Imagen" style="width:70px ; height:70px" />
                            }
                            else
                            {
                                <img id="Img" src="~/assets/img/NoAlumno.jpg" style="width:70px ; height:70px" />
                            }
                        </td>
                        <div class="hidden"> @alumno.IdAlumno </div>
                    </div>                  

                <div class="col-md-4">
                    <h3 class="mb-0"> @alumno.Nombre</h3>
                            
                    <div class="subheading mb-3"> @alumno.ApellidoPaterno @alumno.ApellidoMaterno </div>
              
                </div>
                    <div class="col-md-4">
                            <td class="text-center"><a class="btn btn-warning" href="@Url.Action("MateriasAlumno", "AlumnoMateria", new { IdAlumno = alumno.IdAlumno})"> Modificar Materia  </a></td>
                    </div>

                </div>
            </div>

        </div>

    }
</div>
</section>
