@model Modelo.AlumnoMateria
@{
    ViewBag.Title = "MateriasAlumno";
    
}
<div class="container">
    <br />
    <div class="row" align="center">
        <h2>Administración De <span class="text-primary">Materias</span></h2>
    </div>
    <hr />
    <div class="row">
        <div class="col" align="center">
            <a><input type="submit" value="Materias Inscritas" class="btn btn-secondary col-md-6" id="MI" onclick="ColorMI()" /></a>
            <a><input type="submit" value="Materias Sin Inscribir" class="btn btn-secondary col-md-5" id="MD" onclick="ColorMD()"></a>
        </div>
    </div>  

</div>

<section class="resume-section" id="skills" style="display:none">
    <div class="resume-section-content">
        <h2 class="mb-5">Materias Inscritas</h2>

        <div class="row">
            <div class="col" style="display:none">

            @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "hidden" })

            @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "hidden form-control" })

        </div>

        <div class="col">

            @Html.LabelFor(model => model.Alumno.Nombre, "Nombre")

            @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @readonly = true })

        </div>

            <div class="col">

            @Html.LabelFor(model => model.Alumno.ApellidoPaterno, "Apellido Paterno")

            @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @readonly = true })

        </div>

           <div class="col">

            @Html.LabelFor(model => model.Alumno.ApellidoMaterno, "Apellido Materno")

            @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @readonly = true })

        </div>

        </div>

        <p></p>

        <div class="container center-block">
           
            <div class="row">
                <table class="table table-dark table-hover table-striped table-bordered table-responsive" id="tblAlumno">
                    <thead>
                        <tr class="table-secondary">
                           
                            <th style="display:none;"> IdAlumnoMateria </th>              
                            <th class="text-center"> Quitar </th>              
                            <th class="text-center"> Nombre </th>
                            <th class="text-center"> Costo </th>
 
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Modelo.AlumnoMateria alumnoMateria in Model.AlumnosMaterias)
                        {
                            <tr>
                             
                                <td style="display:none"> @alumnoMateria.IdAlumnoMateria </td>
                                
                                <td class="text-center">
                                    <a class="btn btn-danger bi bi-trash" href="@Url.Action("Eliminar", "AlumnoMateria", new { IdAlumnoMateria = alumnoMateria.IdAlumnoMateria, IdAlumno = alumnoMateria.Alumno.IdAlumno })" onclick="return confirm('Estas seguro que deseas eliminar la materia de este alumno?');"></a>
                                </td>

                                <td> @alumnoMateria.Materia.Nombre </td>

                                <td> @alumnoMateria.Materia.Costo </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-auto ms-auto" style="float: right;">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Total</h3>
                        </div>
                        <div class="panel-body">
                            $@ViewBag.Total
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="text-right">   
                        <a class="btn btn-danger" href="@Url.Action("Index", "AlumnoMateria", new { IdAlumno = Model.Alumno.IdAlumno })"> <i class="fa-solid fa-angle-left"></i> Regresar </a>
                    </div>
                </div>

                
            </div>
            </div>
        </div>

    </div>
</section>


<section class="resume-section" id="habilidades" style="display:none">
    <div class="resume-section-content">
        <h2 class="mb-5"> Materias sin inscribir</h2>
        
        <div class="container center-block">
            @using (Html.BeginForm("Agregar", "AlumnoMateria", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <div class="row">
        <div class="col" style="display:none">

            @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "hidden" })

            @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "hidden form-control" })

        </div>

        <div class="col">

            @Html.LabelFor(model => model.Alumno.Nombre, "Nombre")

            @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @readonly = true })

        </div>

        <div class="col">

            @Html.LabelFor(model => model.Alumno.ApellidoPaterno, "Apellido Paterno")

            @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @readonly = true })

        </div>

        <div class="col">

            @Html.LabelFor(model => model.Alumno.ApellidoMaterno, "Apellido Materno")

            @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @readonly = true })

        </div>

        </div>

                <p></p>

                <div class="container center-block">

                    <div class="row">
                        <table class="table table-dark table-hover table-striped table-bordered table-responsive" id="tblAlumno">
                            <thead>
                                <tr class="table-secondary">

                                    <th style="display:none;"> IdAlumnoMateria </th>
                                    <th class="text-center"> Agregar </th>
                                    <th class="text-center"> Nombre </th>
                                    <th class="text-center"> Costo </th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (Modelo.AlumnoMateria alumnoMateria1 in Model.Materiasasignadas)
                                {
                                    <tr>

                                        <td style="display:none"> @alumnoMateria1.IdAlumnoMateria </td>

                                        <td class="text-center">
                                            <input type="checkbox" value="@alumnoMateria1.Materia.IdMateria" name="Materiasasignadas">
                                        </td>

                                        <td> @alumnoMateria1.Materia.Nombre </td>

                                        <td> @alumnoMateria1.Materia.Costo </td>      

                                    </tr>
                                }
                            </tbody>
                        </table>
                           <div class="form-group col-md-12">
                            <div class="text-right">

                                <input class="btn btn-warning bi bi-pencil-square" type="submit" value="Actualizar" />
                                <a class="btn btn-danger" href="@Url.Action("Index", "AlumnoMateria", new { IdAlumno = Model.Alumno.IdAlumno })"> <i class="fa-solid fa-angle-left"></i> Regresar </a>
                                </div>
                            </div>
                    </div>
                </div>

            }
        </div>

    </div>
</section>

<section class="resume-section" id="skills">
</section>


@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">

        function ColorMI() {
            $('#MD').removeClass('btn-primary');
            $('#MD').addClass('btn-secondary');
            $('#MI').removeClass('btn-secondary');
            $('#MI').addClass('btn-primary');
            $('#habilidades').hide();
            $('#skills').show();
        }
        function ColorMD() {
            $('#MI').removeClass('btn-primary');
            $('#MI').addClass('btn-secondary');
            $('#MD').removeClass('btn-secondary');
            $('#MD').addClass('btn-primary');
            $('#skills').hide();
            $('#habilidades').show();
        }
    </script>
}