@model Modelo.AlumnoMateria
@{
    ViewBag.Title = "MateriasAlumno";
    
}
<div class="container">
    <br />
    <div class="row" align="center">
        <h2>Administración De <span class="text-primary">Materias</span></h2>
    </div>
    <hr />
    <div class="row">
        <div class="col" align="center">
            <a><input type="submit" value="Materias Inscritas" class="btn btn-secondary col-md-6" id="MI" onclick="ColorMI()" /></a>
            <a><input type="submit" value="Materias Sin Inscribir" class="btn btn-secondary col-md-5" id="MD" onclick="ColorMD()">/></a>
        </div>
    </div>  

</div>

<section class="resume-section" id="skills" style="display:none">
    <div class="resume-section-content">
        <h2 class="mb-5">Materias Inscritas</h2>

        <div class="row">
            <div class="col" style="display:none">

            @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "hidden" })

            @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "hidden form-control" })

        </div>

        <div class="col">

            @Html.LabelFor(model => model.Alumno.Nombre, "Nombre")

            @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @readonly = true })

        </div>

            <div class="col">

            @Html.LabelFor(model => model.Alumno.ApellidoPaterno, "Apellido Paterno")

            @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @readonly = true })

        </div>

           <div class="col">

            @Html.LabelFor(model => model.Alumno.ApellidoMaterno, "Apellido Materno")

            @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @readonly = true })

        </div>

        </div>



        <div class="container center-block">
           
            <div class="row">
                <table class="table table-dark table-hover table-striped table-bordered table-responsive" id="tblAlumno">
                    <thead>
                        <tr class="table-secondary">
                           
                            <th style="display:none;"> IdAlumnoMateria </th>              
                            <th class="text-center"> Nombre </th>
                            <th class="text-center"> Costo </th>
 
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Modelo.AlumnoMateria alumnoMateria in Model.AlumnosMaterias)
                        {
                            <tr>
                             
                                <td> @alumnoMateria.IdAlumnoMateria </td>

                                <td> @alumnoMateria.Materia.Nombre </td>

                                <td> @alumnoMateria.Materia.Costo </td>

                            
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>


<section class="resume-section" id="habilidades" style="display:none">
    <div class="resume-section-content">
        <h2 class="mb-5"> Materias sin inscribir</h2>
        
        <div class="container center-block">
            @using (Html.BeginForm("MateriSinAlumno", "AlumnoMateria", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <div class="row">
        <div class="col" style="display:none">

            @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "hidden" })

            @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "hidden form-control" })

        </div>

        <div class="col">

            @Html.LabelFor(model => model.Alumno.Nombre, "Nombre")

            @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @readonly = true })

        </div>

        <div class="col">

            @Html.LabelFor(model => model.Alumno.ApellidoPaterno, "Apellido Paterno")

            @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @readonly = true })

        </div>

        <div class="col">

            @Html.LabelFor(model => model.Alumno.ApellidoMaterno, "Apellido Materno")

            @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @readonly = true })

        </div>

        </div>

                <div class="container center-block">

                    <div class="row">
                        <table class="table table-dark table-hover table-striped table-bordered table-responsive" id="tblAlumno">
                            <thead>
                                <tr class="table-secondary">

                                    <th style="display:none;"> IdAlumnoMateria </th>
                                    <th class="text-center"> Nombre </th>
                                    <th class="text-center"> Costo </th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (Modelo.AlumnoMateria alumnoMateria1 in Model.Materiasasignadas)
                                {
                                    <tr>

                                        <td> @alumnoMateria1.IdAlumnoMateria </td>

                                        <td> @alumnoMateria1.Materia.Nombre </td>

                                        <td> @alumnoMateria1.Materia.Costo </td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            }
        </div>

    </div>
</section>

<section class="resume-section" id="skills">
</section>


@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">

        function ColorMI() {
            $('#MD').removeClass('btn-primary');
            $('#MD').addClass('btn-secondary');
            $('#MI').removeClass('btn-secondary');
            $('#MI').addClass('btn-primary');
            $('#habilidades').hide();
            $('#skills').show();
        }
        function ColorMD() {
            $('#MI').removeClass('btn-primary');
            $('#MI').addClass('btn-secondary');
            $('#MD').removeClass('btn-secondary');
            $('#MD').addClass('btn-primary');
            $('#skills').hide();
            $('#habilidades').show();
        }
    </script>
}